nav{
    display: flex;
    justify-content: space-between;
    /* border:2px solid green; */
    align-items: center;
    height: 80px;
    padding: 0px 40px;
}

.rightNav{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.rightNav i{
    color: rgb(234, 171, 12);
    padding-top: 10px;
}

.filterSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    
}

li{
    list-style-type: none;
}