*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    background-color: rgb(243, 178, 178);
    padding: 10px;
    text-align: center;
    border: 3px solid rgb(90, 87, 87);
    
}

a{
    color: rgb(26, 22, 49);
    font-weight: bold;
    padding: 5px;
}


p{
    font-size: 15px;
    padding: 10px;
    color: rgb(76, 76, 77);
}

h1{
    font-size: 30px;
    color: darkslateblue;
    margin-bottom: 10px;
}

.AboutMe{
    padding: 20px;
  
}

.Projects{
    padding: 20px;
    /* border: 2px solid rgb(129, 132, 132); */
    box-shadow: 0px 0px 10px rgba(233, 101, 101, 0.1);
}

ol::before{
    content: "Title:";
    font-weight: bold;
    
}

ol{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: rgb(245, 212, 219);
}

li{
    font-size: 14px;
    font-weight: lighter;
}




#contact{
    
    margin-top: 20px;  
    padding: 20px;
   
}

input{
    display: block;
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid darkcyan;
    border-radius: 5px;
}

button{
    background-color: rgb(243, 178, 178);
    color: rgb(11, 11, 11);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    background-color: rgb(243, 178, 178);
    padding: 10px;
    text-align: center;
    border-top: 3px solid rgb(90, 87, 87);
}